script(src="../../../../node_modules/jquery/dist/jquery.min.js")
script(src="../../../../libs/slick-1.8.1/slick/slick.min.js")
link(rel="stylesheet", href="../../../../libs/slick-1.8.1/slick/slick-theme.css")
link(rel="stylesheet", href="../../../../libs/slick-1.8.1/slick/slick.css")

script(src="../../../../libs/rater-master/rater.js")
script(src="js/carousel.js")
link(rel="stylesheet", href="styles/carousel.css")

mixin suit-mini-card(imagesForSlider, roomNum, price, rating)

    .container
        .carousel
            img(src=imagesForSlider[0], alt="1")
            img(src=imagesForSlider[1], alt="2")    
            img(src=imagesForSlider[2], alt="3") 
        .under-carousel
            p.room-info
                span.room-info__num №
                span.room-info__room= roomNum
                span.room-info__room-type_lux люкс
            p.room-price
                span.room-price__price= price
                span.room-price__range в сутки
            
            div(class="room-star", data-rate-value=rating)

+suit-mini-card(
    ["img/suite-for-carousel-1.jpg","img/suite-for-carousel-2.jpg", "img/suite-for-carousel-3.jpg"],
    888,
    "9 990 ₽",
    4
)            
