mixin room-card(roomNum, roomPrice, roomType, roomPriceTotal, fee, priceTotal)
    .card    
        .card__row
            p.room
                span.room__number №
                span.room__figures= roomNum
                span.room__type= roomType
        
            p.price
                span.price__num= roomPrice
                span.price__words в сутки
        
        span
            label.card__label Прибытие
                input(type="date")
        
        span
            label.card__label Выезд
                input(type="date")  
        
        p
            label.card__label Гости
                input(type="number", placeholder="Сколько гостей")
        
        .card__price-table.price-table
            p.price-table__row.first-price.price      
                span.price__num= roomPrice
                span x
                span.price__total= roomPriceTotal
            
            p.price-table__row.second-price.price 
                span.price__fee Сбор за услуги
                span.price__discount скидка 2 179₽
                //- иконка i(class=" ") 
                span.price__total 0₽
                
            p.price-table__row.second-price.price 
                span.price__fee Сбор за дополнительные услуги
                //- иконка i(class=" ") 
                span.price__total= fee
            p.price-table__row.total-price.price
                span Итого
                span= priceTotal
            button.card__submit-button Забронировать    


+room-card("9 990₽", 888, "люкс", "39 960₽", "300₽", "38 081₽")       